
<%# This is the partial form, that is used in the edit, and new pages %>
<%# This form allows you to input or edit all values into the job object %>
<%= form_with model: @job, local: true do |form| %>
    <%# error handling on the object, keeping the form from crashing the app %>
      <% if @job.errors.any? %>
          <h2>
              <%= pluralize(@job.errors.count, "error") %> prohibited this from being saved:
          </h2>
          <ul>
              <% job.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          </ul>
      <% end %>

      <p>
          <%= form.label :job_number %>
          <%= form.text_field :job_number %>
      </p>
      <p>
          <%= form.label :model_number %>
          <%= form.text_field :model_number %>
      </p>
      <p>
        <%# The date will autopopulate with the current date for ease of use, it can be overwritten %>
          <%= form.label :start_date %>
          <%= form.text_field :start_date, placeholder: "Enter:   mm/dd/yyyy" %>

      </p>
      <p>
          <%= form.label :completion_date %>
          <%= form.text_field :completion_date %>
      </p>
      <p>
          <%= form.label :assigned_employee %>
          <%= form.text_field :assigned_employee %>
      </p>
      <p>

          <%= form.label :team_number %>
          <%= form.text_field :team_number , placeholder: "Enter:   1-6" %>
      </p>
      <%= form.submit class: 'btn btn-success' %>
      <br>
        <%= link_to 'Return to List ', jobs_path(@job), :class => "btn btn-info btn-sm btn-block mt-4" %>

  <% end %>
