
<%# This page shows the job you selected more details on %>
<h1 class = "text-center">Job Number: <%= @job.job_number %></h1>
<br>
<p>Job Details:</p>
<hr>
<%# displays the job details in a list format %>
<ul>
  <br>
  <li>Model Number: <%= @job.model_number%></li>
  <li>Start Date: <%= @job.start_date%></li>
  <li>Assigned Employee: <%= @job.assigned_employee%></li>
  <li>Completion Date: <%= @job.completion_date%></li>
  <li>Assigned Team: <%= @job.team_number%></li>
</ul>
<br>
<hr>
<br>
<br>
<%# navigation div container %>
<div class="d-flex justify-content-center ">
<%# delete button, allows the current displayed job to be deleted, asks for comformation %>
     <%= link_to('Delete Job', job_path(@job),:class => "btn  btn-danger mx-4",
         method: :delete,
         data: { confirm: "Are you sure?" })
     %>
     <%# edit job button %>
      <%= link_to 'Edit This Job', edit_job_path(@job), :class => "btn btn-primary mx-4" %>
</div>
<%# button that redirects you back to the job list page %>
<br>
  <%= link_to 'Return to List ', jobs_path(@job), :class => "btn btn-info btn-sm btn-block" %>
